/* impostazioni generali di pagina */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
}
/* è un Lato */

/* NOTE:
grigino top: #f2f2f2
grigio chat: #e0e0e0
grigio chat selezionata: #e0e4e5
grigio scritte: #4a4a4a
nero: #000000
verde: #02d1a4 */

/* colori */

#profilo, #chat-corrente, #scrivi-messaggio, #cerca-chat {
  background-color: #f2f2f2;
}

.tris-icone {
  color: #4a4a4a;
}

#attiva-notifiche {
  background-color: lightblue;
}

#chat-contenuto {
  background-color: #e0e0e0;
}

.spazio-scrivi-messaggio {
  background: #ffffff;
}

/* div {
  border: 1px solid black;
} */

/* font-size */

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

.cerca-scrivi span {
  font-size: 0.6em;
}

#container {
  display: flex;
  justify-content: space-between;
}

/* PARTE SINISTRA */

  #colonna-sx {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
    height: 100vh;
  }

    /* profilo in alto a sinistra */

    #profilo {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 80px;
      border-right: 2px solid lightgrey;
    }

      .img-top {
        width: 64px;
        height: 64px;
        margin-left: 6px;
        border-radius: 50px;
        margin-right: 10px;
      }

      .tris-icone {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 120px;
        height: 100%;
      }

        .icona {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2em;
          width: calc(120px / 3);
          height: 50%;
        }

    #attiva-notifiche {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
    }

      .img-mid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: #ffffff;
        border-radius: 50px;
        margin-right: 10px;
        margin-left: 10px;
      }

        .img-mid i {
          font-size: 1.2em;
          color: lightblue;
        }

      .due-righe {
        width: 200px;
        height: 50px;
      }

        .rigauno, .rigadue {
          width: 100%;
        }

        .rigauno {
          height: 55%;
        }

        .rigadue {
          height: 45%;
        }

        .rigadue h6 {
          text-decoration: underline;
        }

    /* cerca chat */

    #cerca-chat {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 50px;
    }

      #cerca-chat-int {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 96%;
        height: 90%;
      }

        .icona-cerca-sx {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15%;
          height: 70%;
        }

        .cerca-scrivi {
          width: 70%;
          height: 70%;
          padding-left: 10px;
          padding-top: 2px;
        }

    /* elenco delle chat */

    #elenco-chat {
      width: 100%;
      height: calc(100vh - 50px - 100px - 80px);
      overflow: scroll;
    }

      .chat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;
      }

      .ok {
        background-color: #e0e4e5;
      }

        .chat-sx {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 80px;
        }

          .info-contatto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: calc(100% - 100px);
            height: 40px;
          }

            .nome-contatto {
              width: 100%;
              height: 60%;
            }

            .frase-contatto {
              width: 100%;
              height: 30%;
            }

        .ora {
          width: 30px;
          height: 50px;
        }


  /* PARTE DESTRA */

  #colonna-dx {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 300px);
    height: 100vh;
  }

    #chat-corrente, #scrivi-messaggio {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      width: 100%;
      height: 80px;
    }

    /* parte alta: nome della chat corrente */

    #chat-corrente {
      display: flex;
      justify-content: space-between;
    }

      #sx-chat-corrente {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 120px);
        height: 80px;
      }

    #chat-contenuto {
      width: 100%;
      height: calc(100vh - 160px);
    }

    /* parte media: il contenuto della chat */

    /* parte bassa: l'utente che scrive il messaggio */

    #scrivi-messaggio {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

      .spazio-scrivi-messaggio {
        display: flex;
        align-items: center;
        padding-left: 10px;
      }

      .emoticon, .invio {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        width: 30px;
        height: 30px;
      }

      .spazio-scrivi-messaggio {
        width: calc(100% - 30px - 30px - 80px);
        height: 90%;
      }

/* TEMPLATE */

.template {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

  .template-inviato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;
    color: black;
    font-size: 0.8em;
    max-width: 70%;
    min-height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 15px;
  }

  .template-ricevuto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 0.8em;
    max-width: 70%;
    min-height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0 15px;
  }

  .template-messaggio .orario {
    display: flex;
    align-items: flex-end;
    font-size: 0.7em;
    color: grey;
  }

  .input {
    border: white;
  }
